body {
  background-color: lightblue;
}

p {
  font-family: verdana;
  font-size: 20px;
   color: blue;

  h1 {
    font-family: quicksand;
    font-size: 40px;
    color: white;
    font-weight: bold;
  }
    
}
